version: "3"
services:
  postgres:
    image: postgres:18
    networks:
      - hmpps
    container_name: hmpps-staff-lookup-postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
networks:
  hmpps:
